body {
    font-family: 'Josefin Slab', serif;
    font-size: 200%;
    color: #000000;
    /*background-color: #91A0C0; */
    text-align: justify;
    background-image: repeating-radial-gradient(#EC9535, #536178);
    padding-top: .5%;
}

a:link:hover {
    background-color: orange;
}

header {
    font-weight: 500;
    font-size: medium;
    font-family: 'Black And White Picture', sans-serif;
}

img {
    max-width: 100%;
}

.hero {
    align-self: center;
    justify-self: center;

}

.about-me {
    text-align: center;
    align-self: center;
    justify-self: center;
}

.img-bx {
    position:absolute;
    width: 80%;
    height: 90%;
}

.img-bx img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 380%;
    height: 84%;
}

.img-bx:hover img:nth-child(1) {
    transition: 7s;
    transition-delay: 1s;
    transform: translatex(1900px);
    transform-origin: right;
    filter: blur(10px);
    opacity: 0;
}

.img-bx img:nth-child(2) {
    width: 100%;
    height: 100%;
    transform: translatex(2900px) scalex(0);
    transform-origin: right;
}

.img-bx:hover img:nth-child(2) {
    transition: 6s;
    transform: translatex(-2900px) scalex(1);
}

article h1,
.story-body {
    background-image: repeating-linear-gradient(#EC9535, #EDC79F, #91A0C0, #EC9535, #F6F6F6, #91A0C0);
    align-content: justify;
    text-align: justify;
    text-overflow: inherit;
    align-self: stretch;
    color: black;
    font-style: italic;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
    background-image: repeating-radial-gradient(#EC9535, #536178);
    font-weight: 100;
}

/* grids */
main {
    display: grid;
}

/* hero content */

.content {
    display: grid;
    align-self: center;
    justify-self: center;
}

/* gallery */

.gallery {
    display: grid;
    border-color: #683348;
}

figure {
    display: grid;
}

figure .Finn {
    align-self: center;
    justify-self: center;
}

/* article */

article {
    display: grid;
}

/* formcontainer */

/* footer */

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
    color: #000;
}



@media screen and (min-width: 48rem) {

    /* hero content & about-content */

    .content {
        grid-template-columns: 1fr 8fr 1fr;
    }

    .content picture,
    .content p {
        grid-column: 2/3;
        text-align: left;
    }

    /* gallery */

    .gallery {
        grid-template-columns: 1fr 20fr 1fr;
    }

    gallery h3,
    .gallery figure {
        grid-column: 2/3;
        align-self: center;
        justify-self: center;
    }

    figure {
        grid-template-columns: 1fr 1fr;
    }

    /* article */

    article {
        grid-template-columns: 1fr 48ch 1fr;
    }

    article h1,
    .story-body {
        grid-column: 2/3;
    }

    article h1 {
        align-self: center;
        justify-self: center;
    }



@media screen and (min-width: 64rem) {

    /* hero content */
    /* about content */
    /* gallery */

    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "gallery-title gallery-title gallery-title"
            "figure1 figure2 figure3";
    }

    .gallery h3 {
        grid-area: gallery-title;
    }

    section .figure1 {
        grid-area: figure1;
    }

    section .figure2 {
        grid-area: figure2;
    }

    section .figure3 {
        grid-area: figure3;
    }

    figure .Finn {
        align-self: center;
        justify-self: center;
    }

    figcaption {
        margin-left: 1rem;
    }
}

/* article */
/* form */
